.footer{
    text-align: center;
    color: rgb(0, 0, 0);
}

.text-a{
    text-align: center;
    color: rgb(0, 0, 0);
}
.text-a::after{
    color: #39c8e2;
}
.form-style{
    text-align: center;
}

@font-face {
    font-family: 'ZCOOLQingKeHuangYou-Regular';
    src: url('http://www.etherealcraft.cn/fonts/ZCOOLQingKeHuangYou-Regular.ttf');
}